/qtwayland-opensource-src-5.4.1.tar.xz
/qtwayland-opensource-src-5.4.2.tar.xz
/qtwayland-opensource-src-5.5.0-rc.tar.xz
/qtwayland-opensource-src-5.5.0.tar.xz
/qtwayland-opensource-src-5.5.1-rc1.tar.xz
/qtwayland-opensource-src-5.5.1.tar.xz
/qtwayland-opensource-src-5.6.0-beta.tar.gz
/qtwayland-opensource-src-5.6.0-beta1.tar.xz
/qtwayland-opensource-src-5.6.0-rc.tar.xz
/qtwayland-opensource-src-5.6.0.tar.xz
/qtwayland-opensource-src-5.6.1.tar.xz
/qtwayland-opensource-src-5.7.0.tar.xz
/qtwayland-opensource-src-5.7.1.tar.xz
