/qtwayland-everywhere-src-5.11.0.tar.xz
/qtwayland-everywhere-src-5.11.1.tar.xz
/qtwayland-everywhere-src-5.11.2.tar.xz
/qtwayland-everywhere-src-5.11.3.tar.xz
/qtwayland-everywhere-src-5.12.1.tar.xz
/qtwayland-everywhere-src-5.12.3.tar.xz
/qtwayland-everywhere-src-5.12.4.tar.xz
